#loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}