#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center, #1a0000 0%, #000000 100%);
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}