@font-face {
    font-family: 'Sternbach';
    src: url('/fonts/SternbachBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sternbach Hollow';
    src: url('/fonts/SternbachHollowItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}